<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <pp>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :password %><br />
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %>
  </p>

  <p>
    <%= form.submit "Cancel"%>
    <%= form.submit %> 
  </p>

<% end %>
